{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1 class="mb-4">Welcome to Novels Hub</h1>
    
    <div class="row">
        {% for novel in novels %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ novel.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">By {{ novel.author.username }} on {{ novel.date_posted.strftime('%Y-%m-%d') }}</h6>
                    <p class="card-text">{{ novel.content[:150]|striptags }}{% if novel.content|length > 150 %}...{% endif %}</p>
                    <a href="{{ url_for('novel', novel_id=novel.id) }}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %} 